.pnpm-store/
.data/
.VSCodeCounter/
.vscode
.cache/
node/.config
node/.devcontainer
node/.ssh
node/.vscode-server
node/.gitconfig
\~/*
**/.oh-my-zsh/**
**/~/*
/minio-data
/pgdata
postgresql/**
node_modules/
