# Ignore node_modules to reduce image size
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
dist

# Ignore environment variable files
# .env
# .env.*.local

# Ignore logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore Editor and IDE config/settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore test-related files
coverage
*.test.ts
*.spec.ts
__tests__/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore temporary files
*.swp
*.tmp
