<div class="search" style="margin-top: 10px; margin-left: 10px">
  <input
    type="text"
    placeholder="جستجو بر اساس نام فرم"
    [(ngModel)]="searchedValue"
  />
  <button class="btn btn-primary" (click)="search()" style="margin-left: 4px">
    جستجو
  </button>
</div>
<div class="formTable" dir="rtl" style="margin-left: 80px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">نام</th>
        <th scope="col">پایه تحصیلی</th>
        <th scope="col">رشته تحصیلی</th>
        <th scope="col"></th>
        <th scope="col">وضعیت درخواست</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let form of myForms | paginate : { itemsPerPage: 5, currentPage: p };
          let i = index
        "
      >
        <td>{{ (p - 1) * 5 + i + 1 }}</td>
        <td>{{ form.name }}</td>
        <td>{{ form.grade }}</td>
        <td>{{ form.major }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/formDetails', form.formId]"
          >
            مشاهده جزئیات
          </button>
        </td>
        <td>{{ form.status }}</td>
      </tr>
      <tr *ngIf="!myForms || myForms.length === 0">
        <td colspan="6">هیچ درخواستی موجود نیست.</td>
      </tr>
    </tbody>
  </table>

  <div class="paginate">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="قبلی"
      nextLabel="بعدی"
    ></pagination-controls>
  </div>
</div>
