<div class="container">
  <div class="row mt-4">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/whatsapp.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">واتساپ</h5>
          <p class="card-text">
            شما می توانید با ما تماس در نرم افزار واتساپ در تماس باشید <br> در این پیام رسان ما یک گروه برای برقراری
            ارتباط بین کاربران وجود دارد و
            همچنین شما می توانید سوالات خود را از پشتیبان های ما بپرسید
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/telegram.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">تلگرام</h5>
          <p class="card-text">
            شما می توانید با ما تماس در نرم افزار تلگرام در تماس باشید <br> در این پیام رسان ما یک گروه برای برقراری
            ارتباط بین
            کاربران وجود دارد و
            همچنین شما می توانید سوالات خود را از پشتیبان های ما بپرسید
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/instagram.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">اینستاگرام</h5>
          <p class="card-text">
            شما می توانید با ما تماس در نرم افزار اینستاگرام در تماس باشید <br> در این پیام رسان ما یک گروه برای برقراری
            ارتباط بین
            کاربران وجود دارد و
            همچنین شما می توانید سوالات خود را از پشتیبان های ما بپرسید
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/eita.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ایتا</h5>
          <p class="card-text">
            شما می توانید با ما تماس در نرم افزار ایتا در تماس باشید <br> در این پیام رسان ما یک گروه برای برقراری
            ارتباط بین
            کاربران وجود دارد و
            همچنین شما می توانید سوالات خود را از پشتیبان های ما بپرسید
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="sosial row">
    <div class="sosialMedia col-3"><img src="assets/img/whatsapp.png" alt="Whatsapp">
      <h1>Whatsapp</h1>
      <p>you can in contact with us in whatsup application <br> in this messager we have a group for our user
        comiunication and also you can ask you questions from our admin</p>
    </div>
    <div class="sosialMedia col-3"><img src="assets/img/telegram.png" alt="Telegram">
      <h1>Telegram</h1>
      <p>you can in contact with us in whatsup application <br> in this messager we have a group for our user
        comiunication and also you can ask you questions from our admin</p>
    </div>
    <div class="sosialMedia col-3"><img src="assets/img/instagram.png" alt="Instagram">
      <h1>Instagram</h1>
      <p>you can follow our news<br> in this messager we have a group for our user
        comiunication and also you can ask you questions from our admin</p>
    </div>
    <div class="sosialMedia col-3"><img src="assets/img/eita.png" alt="Eita">
      <h1>Eita</h1>
      <p>a comiunication app for iranian users <br>in this messager we have a group for our user
        comiunication and also you can ask you questions from our admin</p>
    </div>
  </div> -->
  <!-- <div class="inside">
    <img src="assets/img/map.jpeg" alt="">
    <form>
      <input type="text" placeholder="full name">
      <input type="text" placeholder="subject">
      <input type="text" placeholder="content">
      <input type="email" placeholder="email">
    </form>
  </div> -->
</div>