<div class="search firstDiv">
  <div class="secondDiv">
    <label for="sortOrder">مرتب‌سازی:</label>
    <select
      id="sortOrder"
      class="form-control"
      [(ngModel)]="selectedSortOrder"
      (change)="sortForms()"
    >
      <option value="ascending">از دهم به دوازدهم</option>
      <option value="descending">از دوازدهم به یازدهم</option>
    </select>
  </div>
</div>

<div class="search">
  <input
    type="text"
    placeholder="جستجو بر اساس نام فرم"
    [(ngModel)]="searchedValue"
  />
  <button class="btn btn-primary serachButton" (click)="search()">جستجو</button>
</div>
<div class="formTable" dir="rtl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">نام</th>
        <th scope="col">پایه تحصیلی</th>
        <th scope="col">رشته تحصیلی</th>
        <th scope="col"></th>
        <th scope="col">وضعیت درخواست</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let formData of formDatas
            | paginate : { itemsPerPage: 5, currentPage: p };
          let i = index
        "
      >
        <td>{{ (p - 1) * 5 + i + 1 }}</td>
        <td>{{ formData.name }}</td>
        <td>{{ getGradeString(formData.grade) }}</td>
        <td>{{ getMajorString(formData.major) }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/formDetails', i]"
          >
            مشاهده جزئیات
          </button>
        </td>
        <td>
          <ng-container *ngIf="isAdmin">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openModal(formData)"
            >
              تعیین وضعیت
            </button>
          </ng-container>
          <ng-container *ngIf="!isAdmin">
            {{ formData.status }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="paginate">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="قبلی"
    nextLabel="بعدی"
  ></pagination-controls>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'd-block': showModal }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعیین وضعیت</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="status">انتخاب وضعیت:</label>
        <select id="status" class="form-control" [(ngModel)]="newStatus">
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitStatus()">
          تایید
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          بستن
        </button>
      </div>
    </div>
  </div>
</div>
