<div class="container">
  <div class="row d-flex gap-4 justify-content-center mt-5">
    <div class="value col-lg-4 col-12">
      <img class="value__img img" src="assets/img/front.png">
      <h4 class="value__title">امیرحسین زارع شاهی</h4>
      <span class="value__description">طراح فرانت</span>
    </div>
    <div class="value col-lg-4 col-12">
      <img class="value__img img" src="assets/img/front.png">
      <h4 class="value__title">علیرضا رفیعی</h4>
      <span class="value__description">طراح فرانت</span>
    </div>
    <div class="value col-lg-4 col-12">
      <img class="value__img img" src="assets/img/back.png">
      <h4 class="value__title">امیرعلی نبی زاده</h4>
      <span class="value__description">توسعه دهنده بک اند</span>
    </div>
  </div>

</div>