<div class="container d-flex align-items-center justify-content-center">
  <div class="card user-card bg-primary text-white pdiv" *ngIf="loggedInUser">
    <div class="card-body">
      <h2>{{ loggedInUser.username }} اطلاعات حساب کاربر</h2>

      <div class="row">
        <div class="col">
          <div class="info-item">
            <label class="text-secondary">نام کاربری:</label>
            <span class="text-light">{{ loggedInUser.username }}</span>
          </div>
        </div>
        <div class="col">
          <div class="info-item">
            <label class="text-secondary">رمز عبور:</label>
            <span class="text-light">{{ loggedInUser.password }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="info-item">
            <label class="text-secondary">ایمیل:</label>
            <span class="text-light">{{ loggedInUser.email }}</span>
          </div>
        </div>
      </div>

      <div class="row mt-3" *ngIf="loggedInUser.isAdmin">
        <div class="col">
          <button class="btn btn-primary" (click)="openAdminModal()">
            تغییر نام کاربری و ایمیل
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <button class="btn btn-primaWry" (click)="openModal()">
            تغییر رمز عبور
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #passwordModal
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">تغییر رمز عبور</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newPassword">رمز عبور جدید</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            [(ngModel)]="newPassword"
          />
        </div>
        <div class="form-group">
          <label for="confirmPassword">تکرار رمز عبور جدید</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          لغو
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="changePassword()"
          [disabled]="newPassword !== confirmPassword"
        >
          ذخیره
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #adminModal
  id="adminModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="adminModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminModalLabel">
          تغییر نام کاربری و ایمیل
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newUsername">نام کاربری جدید</label>
          <input
            type="text"
            class="form-control"
            id="newUsername"
            [(ngModel)]="newUsername"
          />
        </div>
        <div class="form-group">
          <label for="newEmail">ایمیل جدید</label>
          <input
            type="email"
            class="form-control"
            id="newEmail"
            [(ngModel)]="newEmail"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          لغو
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="changeUsernameEmail()"
        >
          ذخیره
        </button>
      </div>
    </div>
  </div>
</div>
