<div class="text-center">
  <div *ngIf="selectedFormData" class="my-4 border p-4 secondDIV">
    <h2>مشاهده فرم شماره {{ selectedIndex + 1 }}</h2>
    <div class="row mt-3">
      <p class="col-md-6 mb-3">
        <strong>پایه تحصیلی:</strong> {{ selectedFormData.grade }}
      </p>
      <p class="col-md-6 mb-3">
        <strong>نام:</strong> {{ selectedFormData.name }}
      </p>
    </div>
    <div class="row">
      <p class="col-md-6 mb-3">
        <strong>شرح غیبت:</strong> {{ selectedFormData.description }}
      </p>
      <p class="col-md-6 mb-3">
        <strong>رشته تحصیلی:</strong> {{ selectedFormData.major }}
      </p>
    </div>
  </div>
  <button (click)="onGoBack()">برگشت</button>
</div>
